<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form binding</title>
</head>
<body>
    <div id="app">
        <p>
            input뿐만 아니라 textarea에 대해서 binding이 가능하다.
            <br>
            단 textarea tag안으로 템플릿 보간을 사용하는 것이 아니라, <b>v-model</b>을 통한 binding 처리를 해야한다.
        </p>
        <textarea v-model="message" name="" id="" cols="30" rows="10" style="white-space: pre-line;">{{message}}</textarea>
        <hr>
        <p>하나의 checkbox type input은 단일 boolean 값을 가진다. > checkbox는 boolean이랑 binding을 할 수 있다. select나 radio처럼 value값이 있는 것은 아니니깐.</p>
        <p>여러개의 체크박스에 동일한 배열을 바인딩 할 수 있다. 체크박스 여러 개를 하나의 데이터를 가지고 관리할 수 있다.</p>
        <div>단일 boolean 처리</div>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{checked}}</label>
        <div>boolean 배열 처리</div>
        <input type="checkbox" id="checkbox1" v-model="checkedArr" value="one">
        <label for="checkbox1">One</label>
        <input type="checkbox" id="checkbox2" v-model="checkedArr" value="two">
        <label for="checkbox2">Two</label>
        <input type="checkbox" id="checkbox3" v-model="checkedArr" value="three">
        <label for="checkbox3">Three</label>
        <span>checked value : {{checkedArr}}</span>
        <hr>
        <p>radio type은 여러 유형에 대해서 하나의 값만을 고를 수 있다.</p>
        <input type="radio" value="apple" v-model="selectedBrand" id="brand1">
        <label for="brand1">apple</label>
        <input type="radio" value="samsung" v-model="selectedBrand" id="brand2">
        <label for="brand2">samsung</label>

        <div>selected brand : {{selectedBrand}}</div>
        <hr>
        <p>단일 select</p>
        <select name="" id="" v-model="selectedVal">
            <option disabled value="">select one!</option>
            <option value="asia">asia</option>
            <option value="europe">europe</option>
            <option value="america">america</option>
        </select>
        <div>selected continent : {{selectedVal}}</div>
        <hr>
        <p>다중 select</p>
        <select name="" id="" v-model="selectedValArr" multiple >
            <option value="" disabled>select val</option>
            <option value="bus" >bus</option>
            <option value="metro" >metro</option>
            <option value="bicycle" >bicycle</option>
        </select>
        <div>selected vals : {{selectedValArr}}</div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
    var app = Vue.createApp({
        data(){
            return{
                message : '',
                checked : false,
                checkedArr : [],
                selectedBrand : '',
                selectedVal : '',
                selectedValArr : [],
            }
        },
        methods : {

        }
    })

    var vm = app.mount('#app');

    </script>
</body>
</html>