<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLOT</title>
</head>
<body>
    <div id="app">
        <p>slot을 이용해 tetx를 떼어다가 컨텐츠로 제공할 수 있습니다!</p>
        <alert-box>somthing bad happend!</alert-box>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        var app = Vue.createApp({
            data(){
                return {
                
                }
            }
        })

        app.component('alert-box',{
            template : `
                <div>
                    <b>Error!</b>
                    <slot></slot>
                </div>
            `,
        })

        var vm = app.mount('#app');
    </script>
</body>
</html>