<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed vs. Watch</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstName"><br>
        <input type="text" v-model="lastName"><br>
        FirstName : {{firstName}} LastName : {{lastName}}<br>
        Name : {{getFullName}}
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    firstName : 'Foo',
                    lastName : 'Bar',
                    fullName : 'Foo Bar',
                }
            },
            // watch : {
            //     firstName(val){
            //         this.fullName = val + ' ' + this.lastName
            //     },
            //     lastName(val){
            //         this.fullName = this.firstName + ' ' + val
            //     }
            // }
            computed : {
                getFullName(){
                    return this.firstName + ' ' + this.lastName;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>